Repository DemonDaddy22/rohangupta, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, source, documentation, package, config, workflow

.github/labeler.yml:

modules:
    - node_modules/*
    - node_modules/**/*

source:
    - src/*
    - src/**/*
    - public/*
    - public/**/*

documentation:
    - '*.md'

package:
    - package.json
    - package-lock.json

config:
    - .eslintrc.js
    - .eslintignore
    - tsconfig.json
    - .env
    - .env.*
    - .vscode/*

workflow:
    - '.github/*'
    - '.github/**/*'

Remove unnecessary code
  .eslintrc.js
  package.json
  prettier.config.js
  public/index.html
  src/App.css
  src/App.scss
  src/App.tsx
  src/index.css
  src/index.scss
  src/index.tsx
  src/logo.svg
Labels: source, package, config

Create header, description and ripples
  public/index.html
  src/App.scss
  src/App.test.tsx
  src/App.tsx
  src/components/Description/index.tsx
  src/components/Description/styles.module.scss
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/components/Ripples/index.tsx
  src/components/Ripples/styles.module.scss
  src/index.scss
  src/reportWebVitals.ts
Labels: source

Deploying to gh-pages from @ DemonDaddy22/rohangupta@d6957fddd34006dc4d84e16e5bb96c4d2f740d4a 🚀
  asset-manifest.json
  index.html
  static/css/main.19c0ef4c.chunk.css
  static/css/main.19c0ef4c.chunk.css.map
  static/css/main.1e1c2f01.chunk.css
  static/css/main.1e1c2f01.chunk.css.map
  static/js/2.0f79228c.chunk.js
  static/js/2.0f79228c.chunk.js.map
  static/js/2.45b00247.chunk.js
  static/js/2.45b00247.chunk.js.LICENSE.txt
  static/js/2.45b00247.chunk.js.map
  static/js/3.d17f4c94.chunk.js
  static/js/3.d17f4c94.chunk.js.map
  static/js/main.3d1024a1.chunk.js
  static/js/main.3d1024a1.chunk.js.map
  static/js/main.acd52108.chunk.js
  static/js/main.acd52108.chunk.js.map
  static/js/runtime-main.3c13bb20.js
  static/js/runtime-main.3c13bb20.js.map
  static/js/runtime-main.4b1c7ba0.js
  static/js/runtime-main.4b1c7ba0.js.map
Labels: none

Update lint.yml
  .github/workflows/lint.yml
Labels: workflow

Add shooting stars animation
  src/App.scss
  src/App.tsx
  src/components/Description/styles.module.scss
  src/components/Header/styles.module.scss
  src/components/Ripples/styles.module.scss
  src/components/ShootingStars/index.tsx
  src/components/ShootingStars/styles.module.scss
  src/index.scss
Labels: source

Deploying to gh-pages from @ DemonDaddy22/rohangupta@3279d0a9dd89feea6007c4c3c87362b074e5fd49 🚀
  asset-manifest.json
  index.html
  static/css/main.19c0ef4c.chunk.css
  static/css/main.19c0ef4c.chunk.css.map
  static/css/main.f1c3a996.chunk.css
  static/css/main.f1c3a996.chunk.css.map
  static/js/2.45b00247.chunk.js
  static/js/2.45b00247.chunk.js.map
  static/js/2.6fa3f124.chunk.js
  static/js/2.6fa3f124.chunk.js.LICENSE.txt
  static/js/2.6fa3f124.chunk.js.map
  static/js/3.64504d7a.chunk.js
  static/js/3.64504d7a.chunk.js.map
  static/js/3.d17f4c94.chunk.js
  static/js/3.d17f4c94.chunk.js.map
  static/js/main.3d1024a1.chunk.js
  static/js/main.3d1024a1.chunk.js.map
  static/js/main.3e626754.chunk.js
  static/js/main.3e626754.chunk.js.map
  static/js/runtime-main.3c13bb20.js
  static/js/runtime-main.3c13bb20.js.map
  static/js/runtime-main.b07dea86.js
  static/js/runtime-main.b07dea86.js.map
Labels: none

Add social media icon links
  src/App.tsx
  src/assets/icons/GitHub.tsx
  src/assets/icons/Instagram.tsx
  src/assets/icons/LinkedIn.tsx
  src/assets/icons/Twitter.tsx
  src/components/Ripples/styles.module.scss
  src/components/SocialMediaIcons/index.tsx
  src/components/SocialMediaIcons/styles.module.scss
Labels: source

Deploying to gh-pages from @ DemonDaddy22/rohangupta@57828f8688debd254d79a2a5626ebaa72270230c 🚀
  asset-manifest.json
  index.html
  static/css/main.5e4ec303.chunk.css
  static/css/main.5e4ec303.chunk.css.map
  static/css/main.f1c3a996.chunk.css
  static/css/main.f1c3a996.chunk.css.map
  static/js/2.6fa3f124.chunk.js
  static/js/2.6fa3f124.chunk.js.map
  static/js/2.f309c9b0.chunk.js
  static/js/2.f309c9b0.chunk.js.LICENSE.txt
  static/js/2.f309c9b0.chunk.js.map
  static/js/3.64504d7a.chunk.js
  static/js/3.64504d7a.chunk.js.map
  static/js/3.e92066ac.chunk.js
  static/js/3.e92066ac.chunk.js.map
  static/js/main.3e626754.chunk.js
  static/js/main.3e626754.chunk.js.map
  static/js/main.90d27089.chunk.js
  static/js/main.90d27089.chunk.js.map
  static/js/runtime-main.164725e2.js
  static/js/runtime-main.164725e2.js.map
  static/js/runtime-main.b07dea86.js
  static/js/runtime-main.b07dea86.js.map
Labels: none

Update portfolio icon
  public/favicon.ico
  public/index.html
  public/logo.png
  public/logo192.png
  public/logo512.png
  public/manifest.json
Labels: source

Deploying to gh-pages from @ DemonDaddy22/rohangupta@944133017a252717c098c20c6ff2fd6e1b314d2a 🚀
  favicon.ico
  index.html
  logo.png
  logo192.png
  logo512.png
  manifest.json
Labels: none

Add and update icons
  public/index.html
  src/assets/icons/Course.tsx
  src/assets/icons/GitHub.tsx
  src/assets/icons/Hand.tsx
  src/assets/icons/Instagram.tsx
  src/assets/icons/LinkedIn.tsx
  src/assets/icons/School.tsx
  src/assets/icons/Tool.tsx
  src/assets/icons/Twitter.tsx
  src/assets/icons/Work.tsx
Labels: source

Project env changes
  .env
  package.json
Labels: package, config

Add mixins and theme constants
  src/resources/theme.scss
  src/resources/theme.ts
  src/utils/mixins.scss
Labels: source

Remove unused components
  src/components/Ripples/index.tsx
  src/components/Ripples/styles.module.scss
  src/components/ShootingStars/index.tsx
  src/components/ShootingStars/styles.module.scss
Labels: source

Modify existing content and styles
  src/components/Description/index.tsx
  src/components/Description/styles.module.scss
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/components/SocialMediaIcons/index.tsx
  src/components/SocialMediaIcons/styles.module.scss
  src/index.scss
Labels: source

Create new section components
  src/App.scss
  src/App.tsx
  src/components/Education/index.tsx
  src/components/Education/styles.module.scss
  src/components/Experience/index.tsx
  src/components/Experience/styles.module.scss
  src/components/Introduction/index.tsx
  src/components/Introduction/styles.module.scss
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.module.scss
  src/components/ProfilePicture/index.tsx
  src/components/ProfilePicture/styles.module.scss
  src/components/Projects/index.tsx
  src/components/Projects/styles.module.scss
  src/types/components.d.ts
Labels: source

Minor change
  src/components/Navbar/index.tsx
Labels: source

Update theme color in html
  public/index.html
Labels: source
